ion-input{
  font-size: 60px;
  margin-left: 45%;
  font-weight: 450;
}
ion-button{
  --background: rgb(172, 30, 148);
}
.center{
  padding-left: 4%;
}
.zerar{
  width: 80%;
  margin-left: 10%;
}
.titulo{
  font-size: 20px;
  color: rgb(255, 0, 255);
}
