.nome{
  font-weight: bold;
  font-family: 'Times New Roman';
  color: rgb(6, 54, 14);
}
.tel{
  color: rgb(255, 0, 157);
  font-family: sans-serif;
  font-weight: bold;
}
.titulo{
  color: red;
  font-size: 20px;
}
.genero{
  font-weight: bold;
  font-family: Geneva;
  color: rgb(132, 156, 170);
}
.dtnasc{
  font-weight: bold;
  font-family: Lucida Sans;
  color: rgb(187, 77, 14)
}
.ion-text-center{
}